*{
    margin: 0%;
    padding: 0%;
}

.centro{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centro:hover {
    background-color: red;
}

.izqarriba{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
}
.izqarriba:hover{
    border-radius: 50%;
    background-color:red;
}

.izqabajo{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
}

.izqabajo:hover{
    transform: rotate(45deg);
    background-color: red;
}

.derarriba{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
}

.derarriba:hover{
    right: 20px;
    background-color: red;
}

.derabajo{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}